<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div *ngFor="let galletita of galletitas" class="col mb-5" [ngClass]="{'clearance':galletita.clearance}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="galletita.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{galletita.name}}</h5>
                            <!-- Product price-->
                            <span>$</span>{{galletita.price}}
                            <p>Stock: <span *ngIf="galletita.stock==0">Sin Stock</span><span
                                    *ngIf="galletita.stock !=0">{{galletita.stock}}</span> </p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <!-- Cantidad de productos-->
                        <input type="number" [(ngModel)]="galletita.quantity">
                        <div><button class="btn btn-outline-danger" (click)="downQuantity(galletita)">-</button>{{galletita.quantity}} <button class="btn btn-outline-success" (click)="upQuantity(galletita)">+</button></div>
                        <div class="text-center"><button class="btn btn-outline-info">Agregar al Carrito</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>